html,
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 300px;
}

div,
img {
  border-radius: 5%;
}

img {
  height: 300px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

h2 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
