html,
body {
  background-color: rgb(217, 217, 217);
  font-family: Roboto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 320px;
}

div,
img {
  border-radius: 5%;
}

img {
  height: 300px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
